# Dependencies
node_modules/

# Build
dist/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
