.wrap {
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.pair {
  --celebration-offset: calc(var(--cell-size) * 0.065);
  width: 100%;
  height: 100%;
  position: relative;
}

.beeSlotLeft,
.beeSlotRight {
  position: absolute;
  left: 50%;
  top: 50%;
  display: grid;
  place-items: center;
}

.pair .beeSlotLeft {
  transform: translate(calc(-50% - var(--celebration-offset)), -50%);
  animation: celebrationFlightLeft 5s ease-in-out infinite;
}

.pair .beeSlotRight {
  transform: translate(calc(-50% + var(--celebration-offset)), -50%);
  animation: celebrationFlightRight 5s ease-in-out infinite;
}

@keyframes celebrationFlightLeft {
  0%,
  100% {
    transform: translate(calc(-50% - var(--celebration-offset)), -50%);
  }
  25% {
    transform: translate(calc(-50% - var(--celebration-offset) - 6px), calc(-50% - 8px));
  }
  50% {
    transform: translate(calc(-50% - var(--celebration-offset) + 4px), calc(-50% + 4px));
  }
  75% {
    transform: translate(calc(-50% - var(--celebration-offset) - 4px), calc(-50% + 6px));
  }
}

@keyframes celebrationFlightRight {
  0%,
  100% {
    transform: translate(calc(-50% + var(--celebration-offset)), -50%);
  }
  25% {
    transform: translate(calc(-50% + var(--celebration-offset) + 6px), calc(-50% + 6px));
  }
  50% {
    transform: translate(calc(-50% + var(--celebration-offset) - 4px), calc(-50% - 6px));
  }
  75% {
    transform: translate(calc(-50% + var(--celebration-offset) + 4px), calc(-50% - 4px));
  }
}
